<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>
        var map_init = L.map('map', {
            center: [9.0820, 8.6753],
            zoom: 8
        });
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map_init);
        L.Control.geocoder().addTo(map_init);
        if (!navigator.geolocation) {
            console.log("Your browser doesn't support geolocation feature!")
        } else {
            setInterval(() => {
                navigator.geolocation.getCurrentPosition(getPosition)
            }, 5000);
        };
        var marker, circle, lat, long, accuracy;

        function getPosition(position) {
            // console.log(position)
            lat = position.coords.latitude
            long = position.coords.longitude
            accuracy = position.coords.accuracy

            if (marker) {
                map_init.removeLayer(marker)
            }

            if (circle) {
                map_init.removeLayer(circle)
            }

            marker = L.marker([lat, long])
            circle = L.circle([lat, long], { radius: accuracy })

            var featureGroup = L.featureGroup([marker, circle]).addTo(map_init)

            map_init.fitBounds(featureGroup.getBounds())

            console.log("Your coordinate is: Lat: " + lat + " Long: " + long + " Accuracy: " + accuracy)




            var marker = L.marker([38.2376827, 21.7259359]).addTo(map_init); 
    marker.bindPopup("<b>Flocafe</b>")
    var marker = L.marker([38.23771229999999,21.72594149999999]).addTo(map_init); 
    marker.bindPopup("<b>Libido</b>")
    var marker = L.marker([38.23679099999999,21.7259139]).addTo(map_init); 
    marker.bindPopup("<b>Petite Boutique</b>")
    var marker = L.marker([38.2379767,21.7259916]).addTo(map_init); 
    marker.bindPopup("<b>Goody's Burger House</b>")
    var marker = L.marker([38.2315032,21.7296407]).addTo(map_init); 
    marker.bindPopup("<b>Η Καλή,Καρβελά Καλιρρόη</b>")
    var marker = L.marker([38.23240670000001,21.730495]).addTo(map_init); 
    marker.bindPopup("<b>Φούρνος Δημητρόπουλος</b>")
    var marker = L.marker([38.23157129999999,21.7293953]).addTo(map_init); 
    marker.bindPopup("<b>DIVINE CAFE</b>")
    var marker = L.marker([38.2346426,21.7252919]).addTo(map_init); 
    marker.bindPopup("<b>Ena Cash And Carry</b>")
    var marker = L.marker([38.233859,21.7251125]).addTo(map_init); 
    marker.bindPopup("<b>Lazaridis, J., Ltd</b>")
    var marker = L.marker([38.23485300000001,21.7243963]).addTo(map_init); 
    marker.bindPopup("<b>Patras' South Park - Notio Parko Patras</b>")
    var marker = L.marker([38.2349755,21.72532379999999]).addTo(map_init); 
    marker.bindPopup("<b>Coffeebox Str</b>")
    var marker = L.marker([38.2317336,21.72934619999999]).addTo(map_init); 
    marker.bindPopup("<b>Butcher Cacoyannis</b>")
    var marker = L.marker([38.2338052,21.725142]).addTo(map_init); 
    marker.bindPopup("<b>GroupTime Fitness</b>")
    var marker = L.marker([38.23433560000001,21.7257251]).addTo(map_init); 
    marker.bindPopup("<b>Κωτσόπουλος,Ευθυγραμισεις</b>")
    var marker = L.marker([38.2361853,21.7301181]).addTo(map_init); 
    marker.bindPopup("<b>CyberArena Internet Cafe</b>")
    var marker = L.marker([38.23481719999999,21.7298984]).addTo(map_init); 
    marker.bindPopup("<b>Car wash elefante</b>")
    var marker = L.marker([38.2299034,21.7262048]).addTo(map_init); 
    marker.bindPopup("<b>Φραγκάκης ΟΕ</b>")
    var marker = L.marker([38.2294601,21.73060079999999]).addTo(map_init); 
    marker.bindPopup("<b>AlfaEstiasi</b>")
    var marker = L.marker([38.2303443,21.7279804]).addTo(map_init); 
    marker.bindPopup("<b>liberis ψωμι-καφες-γλυκο</b>")
    var marker = L.marker([38.2297166,21.7302191]).addTo(map_init); 
    marker.bindPopup("<b>Paris house 2</b>")
    var marker = L.marker([38.2297166,21.7302191]).addTo(map_init); 
    marker.bindPopup("<b>Paris house 1</b>")
           




        }
    </script>
</body>

</html>